.App {
  text-align: center;
  background-color: #122438;
  color: #d1d1e0;
  font-family: "Roboto Slab", serif;
}
body {
  background-color: #122438;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

.container {
  padding: 20px;
}

h5 {
  color: #c8aa6e;
  font-size: 28px;
  margin-bottom: 20px;
  font-family: "Friz Quadrata", sans-serif;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #345a7e;
  background-color: #1c3d5a;
  color: #d1d1e0;
  font-family: "Roboto Slab", serif;
}

button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Roboto Slab", serif;
}

p {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
}

img {
  border-radius: 50%;
  margin-top: 20px;
  border: 3px solid #0077cc;
}

.no-data {
  color: #ff4500;
  font-family: "Roboto Slab", serif;
}
